@import "~antd/dist/antd.css";

/* ---------- Editorial ---------- */
.editorial,
.hablamos {
  width: 100%;
  height: auto;
  padding: 30px 135px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.edit-top {
  width: 100%;
  height: 10%;
  margin-bottom: 30px;
}

.edit-main {
  width: 100%;
  height: 90%;
}

.edit-titles {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.edit-h1 {
  font-family: Open Sans;
  color: #4d4d4d;
  font-size: 35px;
}

.edit-h2 {
  font-size: 20px;
  color: #707070;
  font-family: Open Sans;
  font-weight: bold;
  margin-bottom: 20px;
}

.edit-h3 {
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.edit-image {
  width: 100%;
}

.editorial-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.edit-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}

.edit-text.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

.edit-text-span {
  color: #000000;
  font-size: 18px;
  padding: 10px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.edit-text-div {
  width: 50%;
  height: 100%;
  display: flex;
}

.edit-text-span-middle.left {
  text-align: justify;
  color: #000000;
  padding: 0px 10px;
  font-size: 18px;
}

.edit-text-span-middle.right {
  letter-spacing: -2px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  padding: 40px 20px 0px;
  text-indent: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  text-align: justify;
}

/* ---------- Credits ---------- */
.credits {
  padding-top: 150px;
  width: 100%;
  background-color: #f6f6f6;
}

.credits-div {
  width: 100%;
  border-top: solid #afaeae 1px;
  padding: 0 50px;
}

.credits-h2 {
  color: #707070;
  font-family: Open Sans;
  margin: 60px 0px 20px;
}

.credits-div > ul {
  list-style: none;
  padding-left: 0px;
}

.credits-div > ul > li {
  margin: 0;
}

.credits-span {
  font-family: Open Sans;
  font-weight: lighter;
}

/* ---------- Protagonistas ---------- */
.protagonistas {
  width: 100%;
  height: auto;
  padding: 30px 150px !important;
  background-color: #f6f6f6;
}

.protag-main {
  width: 100%;
  height: auto;
}

.protag-titles {
  width: 100%;
  margin-bottom: 60px;
}

.protag-div-image {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
}

.protagonistas-img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.protag-div-aurora {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d969d966;
}

.protag-div-top {
  width: 100%;
  height: auto;
  margin: 100px 0px 30px;
}

.protag-div-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.protag-div-bottom {
  width: 100%;
  height: auto;
  margin: 50px 0px 100px;
}

.protag-div-left {
  width: 50%;
  padding: 20px 10px 0px;
  text-align: justify;
}

.protag-div-right {
  width: 50%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.protag-div-work-future {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.protag-div-text {
  width: 100%;
  height: 100%;
}

.div-question {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.protag-div {
  width: 100%;
  height: auto;
  display: flex;
}

.protag-div-crisis {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 40px;
}

.crisis-right,
.crisis-left {
  width: 50%;
  height: 100%;
  margin: 0px 5px 0px 5px;
  text-align: justify;
  padding: 0px 10px;
}

.protag-h1 {
  font-size: 35px;
  color: #4d4d4d;
  font-family: Open Sans;
  margin-bottom: 5px;
}

.protag-h2 {
  font-size: 20px;
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.protag-h2-work-future {
  font-weight: bold;
  color: #4b8241;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

.protag-h2-crisis {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin-bottom: 50px;
}

.protag-h3 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 10px 0px 20px;
}

.protag-h3.title {
  color: #707070;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
}

.protag-h3.last {
  word-spacing: 13px;
}

.protag-span {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
}

.protag-span-image {
  width: 50%;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  padding: 10px 25px;
  font-style: italic;
  font-size: 25px;
  line-height: 1.2;
  word-spacing: 5px;
}

.protag-span-aurora {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
  margin: 20px 0px;
}

.protag-span-aurora.bold {
  font-weight: bold;
}

.p-aurora {
  color: #630164;
}

.protag-span-top {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
}

.protag-span-right {
  width: 100%;
  height: 50%;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
}

.protag-span-left {
  font-family: Open Sans;
  font-style: italic;
  font-weight: bolder;
  color: #000000;
  font-size: 23px;
}

.protag-span-bottom {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
}

.protag-span-work-future {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 30px;
}

.protag-span-work-future.bold {
  font-weight: bold;
}

/* ---------- Hablamos ---------- */
.hablamos {
  width: 100%;
  height: auto;
  padding: 30px 150px !important;
  background-color: #f6f6f6;
}

.hablamos-div-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.hablamos-span {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 35px;
}

/* ---------- Creamos ---------- */
.creamos {
  width: 100%;
  height: auto;
  padding: 30px 150px !important;
  background-color: #f6f6f6;
}

.creamos-text-div-micro {
  width: 100%;
  height: auto;
  display: flex;
}

.creamos-div-left,
.creamos-div-right {
  width: 50%;
  height: 100%;
  text-align: justify;
}

.creamos-div-left {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 0px;
}

.creamos-div-right {
  line-height: 2;
  word-spacing: -2px;
  padding: 20px 0px 20px 10px;
}

.creamos-text-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.creamos-h2-micro {
  color: #4b8241;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.creamos-h3-micro {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
}

.creamos-span.fabiola {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 900;
}

.creamos-span {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 35px;
}

.creamos-text-span {
  width: 50%;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: justify;
  font-size: 19px;
  padding: 0px 25px;
  font-style: italic;
  line-height: 1.2;
  word-spacing: 4.5px;
}

/* ---------- Despiertas ---------- */
.despiertas {
  width: 100%;
  height: auto;
  padding: 30px 150px !important;
  background-color: #f6f6f6;
}

.despiertas-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 10px;
}

.despiertas-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
