@import "~antd/dist/antd.css";

/* ---------- App ---------- */

.App {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* ---------- Header ---------- */
.header {
  width: 100%;
  height: auto;
  background-color: #630164;
  display: flex;
  justify-content: space-between;
}

.header-social-media-div {
  padding: 15px 0px 15px 30px;
}

.header-menu-div {
  padding: 15px 30px 15px 50px;
}

.header-img-div {
  display: flex;
  justify-content: center;
}

.header-img-anlogo {
  width: 70px;
  margin: 15px 0px 15px 0px;
}

.header-icon {
  font-size: 20px;
  color: #f6f6f6;
  margin: 5px;
}

.drawer-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.drawer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50%;
}

.drawer-close-icon {
  cursor: pointer;
}

.drawer-h3 {
  font-family: "Roboto", sans-serif;
  color: #f6f6f6;
  padding-top: 20px;
  cursor: pointer;

  text-decoration: none;
  background-image: linear-gradient(#35cc05, #35cc05);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.3s;
}

.drawer-h3:hover,
.drawer-h3:focus {
  background-size: 100% 3px;
}

.drawer-h3.contact {
  padding-top: 70px;
}

.drawer-icon {
  color: #f6f6f6;
  font-size: 26px;
  padding: 0 10px;
}

/* ---------- Profiles ---------- */
.profile-img {
  height: 400px;
  background-image: url("../src/assets/img/IMAGEN_1.1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-body {
  width: 100%;
  height: 500px;
  display: flex;
  padding: 60px;
}

.profile-div {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.profile-img-x {
  width: 170px;
  height: auto;
  margin: 0px !important;
  display: flex;
  justify-content: center;
}

.profile-h3,
.profile-span-x {
  display: flex;
  justify-content: center !important;
}

.profile-span-x.roll {
  /* padding: 0px 5px; */
  text-align: justify !important;
}

.profile-span,
.profile-h2 {
  display: flex;
  justify-content: center !important;
  font-family: "Roboto", sans-serif;
}

.profile-h2 {
  padding-top: 20px;
  color: #4b8241;
  font-weight: bold;
}

.profile-span {
  color: #4d4d4d;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

/* ---------- Subscribe ---------- */
.subscribe {
  /* display: none; */
  background-color: #f6f6f6;
  bottom: auto;
  width: 100%;
  height: auto;
}

.subscribe-div {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subscribe-h2,
.subscribe-span {
  font-family: "Roboto", sans-serif;
  width: 100% !important;
  display: flex;
  justify-content: center;
  color: #000;
}

.subscribe-h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 1px;
}

.subscribe-form {
  padding: 20px 22vw;
}

.ant-form-item {
  margin-bottom: 5px;
}

.subscribe-h3 {
  font-family: "Roboto", sans-serif;
  margin: 3px 0px;
  color: #808080;
}

.subscribe-btn {
  margin: 10px 0px;
  background-color: #630164;
  border-color: #630164;
}

/* ---------- Footer ---------- */
.footer {
  position: inherit;
  bottom: 0px;
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px 10vw;
}

.footer-bottom {
  width: auto;
  height: auto;
  display: flex;
  border-top: solid #808080;
  border-width: 1px;
  margin: 0px 10vw;
  padding: 25px 0px !important;
}

.footer-social-media-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.footer-img-div-bottom {
  width: 50%;
}

.footer-span-div-bottom {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-img-anlogo {
  width: 100px;
  margin: 10px 0px;
}

.footer-img-falogo {
  margin-left: 10px;
}

.footer-icon {
  font-size: 15px;
  color: #808080;
}

.footer-icon.social {
  margin: 5px;
}

.footer-span {
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
}
