@import "~antd/dist/antd.css";

/* ---------- Header ---------- */
.header {
  width: 100%;
  height: auto;
  background-color: #630164;
  display: flex;
  justify-content: space-between;
}

.header-social-media-div,
.header-menu-div {
  padding: 15px;
}

.header-img-anlogo {
  width: 70px;
  margin: 15px;
}

.header-icon {
  font-size: 20px;
  color: #f6f6f6;
  margin: 5px;
}

/* ---------- Subscribe ---------- */
.subscribe {
  background-color: brown;
  bottom: auto;
  width: 100%;
  height: auto;
}

.subscribe-div {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subscribe-h1,
.subscribe-span {
  width: 100% !important;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.subscribe-form {
  padding: 20px 22vw;
}

.ant-form-item {
  margin-bottom: 5px;
}

.subscribe-h3 {
  margin: 3px 0px;
  color: aliceblue;
}

.subscribe-btn {
  margin: 10px 0px;
}

/* ---------- Footer ---------- */
.footer {
  position: absolute;
  bottom: 0px;
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px 50px;
}

.footer-bottom {
  width: auto;
  height: auto;
  display: flex;
  border-top: solid #808080;
  border-width: 1px;
  margin: 0px 50px;
  padding: 25px 0px !important;
}

.footer-social-media-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.footer-img-div-bottom {
  width: 50%;
}

.footer-span-div-bottom {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-img-anlogo {
  width: 100px;
  margin: 10px 0px;
}

.footer-img-falogo {
  margin-left: 10px;
}

.footer-icon {
  font-size: 15px;
  color: #808080;
}

.footer-icon.social {
  margin: 5px;
}

.footer-span {
  color: #808080;
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
}
