@import "~antd/dist/antd.css";

/* ---------- Header ---------- */
.header {
  width: 100%;
  height: auto;
  background-color: #630164;
  display: flex;
  justify-content: space-between;
}

.header-social-media-div,
.header-menu-div {
  padding: 15px;
}

.header-img-anlogo {
  width: 70px;
  margin: 15px;
}

.header-icon {
  font-size: 20px;
  color: #f6f6f6;
  margin: 5px;
}

/* ---------- Subscribe ---------- */
.subscribe {
  background-color: brown;
  bottom: auto;
  width: 100%;
  height: auto;
}

.subscribe-div {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subscribe-h1,
.subscribe-span {
  width: 100% !important;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.subscribe-form {
  padding: 20px 22vw;
}

.ant-form-item {
  margin-bottom: 5px;
}

.subscribe-h3 {
  margin: 3px 0px;
  color: aliceblue;
}

.subscribe-btn {
  margin: 10px 0px;
}

/* ---------- Footer ---------- */
.footer {
  position: absolute;
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
}

.footer-social-media-div {
  margin: 10px;
  position: absolute;
  right: 0px;
}

.footer-img-anlogo {
  width: 100px;
  margin: 15px;
}

.footer-icon {
  margin: 5px;
  font-size: 50px;
  color: aliceblue;
}
